In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./test.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     93800 non-null  int64
 1   Name                                   93800 non-null  object
 2   Gender                                 93800 non-null  object
 3   Age                                    93800 non-null  float64
 4   City                                   93800 non-null  object
 5   Working Professional or Student        93800 non-null  object
 6   Profession                             69168 non-null  object
 7   Academic Pressure                      18767 non-null  float64
 8   Work Pressure                          75022 non-null  float64
 9   CGPA                                   18766 non-null  float64
 10  Study Satisfaction                     18767 non-null  float64
 11  Job Satisfaction                       75026 non-null  float64
 12  Sleep Duration                         93800 non-null  object
 13  Dietary Habits                         93795 non-null  object
 14  Degree                                 93798 non-null  object
 15  Have you ever had suicidal thoughts ?  93800 non-null  object
 16  Work/Study Hours                       93800 non-null  float64
 17  Financial Stress                       93800 non-null  float64
 18  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), int64(1), object(10)
memory usage: 13.6+ MB

In [6]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [7]:
df.duplicated().sum()

0

In [18]:
df.isnull().mean() *100

id                                        0.000000
Name                                      0.000000
Gender                                    0.000000
Age                                       0.000000
City                                      0.000000
Working Professional or Student           0.000000
Profession                                0.000000
Academic Pressure                        79.992537
Work Pressure                            20.019190
CGPA                                     79.993603
Study Satisfaction                       79.992537
Job Satisfaction                         20.014925
Sleep Duration                            0.000000
Dietary Habits                            0.005330
Degree                                    0.002132
Have you ever had suicidal thoughts ?     0.000000
Work/Study Hours                          0.000000
Financial Stress                          0.000000
Family History of Mental Illness          0.000000
dtype: float64

In [9]:
df.shape

(93800, 19)

In [10]:
df.sample(20)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
91152,231852,Atharv,Male,52.0,Delhi,Working Professional,Teacher,NaN,4.0,NaN,NaN,5.0,More than 8 hours,Unhealthy,B.Arch,No,1.0,4.0,Yes
66764,207464,Aariv,Male,50.0,Nashik,Working Professional,Chef,NaN,1.0,NaN,NaN,2.0,Less than 5 hours,Unhealthy,BHM,No,6.0,4.0,Yes
58642,199342,Vivan,Male,34.0,Patna,Working Professional,Teacher,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,B.Ed,No,3.0,4.0,No
76314,217014,Nandini,Female,24.0,Hyderabad,Student,NaN,4.0,NaN,9.41,2.0,NaN,7-8 hours,Healthy,B.Arch,Yes,0.0,2.0,No
33637,174337,Nalini,Female,44.0,Hyderabad,Working Professional,Teacher,NaN,3.0,NaN,NaN,1.0,Less than 5 hours,Unhealthy,B.Ed,Yes,11.0,4.0,Yes
41640,182340,Vikram,Male,52.0,Vasai-Virar,Working Professional,Pharmacist,NaN,2.0,NaN,NaN,5.0,7-8 hours,Unhealthy,B.Pharm,No,8.0,1.0,No
11541,152241,Sneha,Female,20.0,Indore,Working Professional,NaN,NaN,3.0,NaN,NaN,3.0,7-8 hours,Moderate,Class 12,Yes,7.0,4.0,Yes
92928,233628,Zara,Female,40.0,Patna,Working Professional,Sales Executive,NaN,2.0,NaN,NaN,3.0,More than 8 hours,Healthy,B.Com,Yes,2.0,3.0,Yes
10056,150756,Nikhil,Male,58.0,Vasai-Virar,Working Professional,Customer Support,NaN,5.0,NaN,NaN,2.0,5-6 hours,Unhealthy,BA,No,4.0,2.0,No
59915,200615,Raunak,Male,55.0,Jaipur,Working Professional,Mechanical Engineer,NaN,1.0,NaN,NaN,5.0,7-8 hours,Unhealthy,BSc,No,9.0,2.0,No
22498,163198,Mayank,Male,38.0,Srinagar,Working Professional,Teacher,NaN,2.0,NaN,NaN,2.0,7-8 hours,Moderate,LLB,Yes,5.0,2.0,No
68392,209092,Anika,Female,49.0,Rajkot,Working Professional,Doctor,NaN,5.0,NaN,NaN,5.0,Less than 5 hours,Moderate,MBBS,Yes,1.0,4.0,Yes
86901,227601,Divya,Female,58.0,Bangalore,Working Professional,Entrepreneur,NaN,4.0,NaN,NaN,5.0,7-8 hours,Moderate,MSc,Yes,1.0,5.0,No
47850,188550,Riya,Female,51.0,Chennai,Working Professional,Electrician,NaN,1.0,NaN,NaN,1.0,7-8 hours,Healthy,BCA,Yes,5.0,2.0,Yes
64759,205459,Rishi,Male,51.0,Srinagar,Working Professional,Content Writer,NaN,5.0,NaN,NaN,2.0,7-8 hours,Healthy,MCA,No,3.0,1.0,No
12971,153671,Satyam,Male,58.0,Nagpur,Working Professional,NaN,NaN,4.0,NaN,NaN,5.0,More than 8 hours,Moderate,Class 12,No,2.0,4.0,Yes
80516,221216,Kunal,Male,52.0,Ghaziabad,Working Professional,Entrepreneur,NaN,3.0,NaN,NaN,5.0,More than 8 hours,Unhealthy,MSc,Yes,6.0,1.0,No
46555,187255,Parth,Male,44.0,Pune,Working Professional,Pharmacist,NaN,2.0,NaN,NaN,2.0,5-6 hours,Moderate,B.Pharm,No,7.0,1.0,No
53053,193753,Nikhil,Male,57.0,Kanpur,Working Professional,Teacher,NaN,2.0,NaN,NaN,2.0,5-6 hours,Unhealthy,LLM,No,7.0,5.0,Yes
58196,198896,Tanisha,Female,20.0,Srinagar,Student,NaN,1.0,NaN,9.91,4.0,NaN,More than 8 hours,Unhealthy,Class 12,Yes,8.0,5.0,No

In [19]:
df["Profession"].isnull().mean() * 100

0.0

In [20]:
df["Profession"].isnull().sum()

0

In [21]:
df["Profession"].unique()

array(['Judge', 'Educational Consultant', 'Teacher', 'Unknown',
       'Customer Support', 'Chemist', 'Content Writer', 'Consultant',
       'HR Manager', 'Research Analyst', 'Digital Marketer',
       'Electrician', 'Marketing Manager', 'Plumber', 'Pharmacist',
       'Lawyer', 'Pilot', 'Architect', 'Chef', 'Graphic Designer',
       'Entrepreneur', 'Manager', 'Mechanical Engineer',
       'Software Engineer', 'Travel Consultant', 'Finanancial Analyst',
       'Financial Analyst', 'Doctor', 'Business Analyst',
       'UX/UI Designer', 'Sales Executive', 'Data Scientist',
       'Accountant', 'Researcher', 'Civil Engineer', 'Investment Banker',
       'Unhealthy', 'B.Ed', 'Student', 'Working Professional', '3M', 'ME',
       'B.Pharm', '24th', 'Manvi', 'Yogesh', 'Samar', 'Surat', 'PhD',
       'M.Ed', 'MD', 'Name', 'MCA', 'Simran', 'Analyst', 'Profession',
       'Unemployed', 'BBA', 'M.Tech', 'LLM', 'Surgeon', 'No', 'Unveil',
       'City Consultant', 'M.Pharm'], dtype=object)

In [22]:
df["Profession"].value_counts()

Profession
Unknown           24632
Teacher           16385
Content Writer     5187
Architect          2982
Consultant         2920
                  ...
24th                  1
B.Pharm               1
ME                    1
3M                    1
M.Pharm               1
Name: count, Length: 65, dtype: int64

In [23]:
len(df["Profession"].value_counts())

65

In [24]:
df['Profession'] = df['Profession'].fillna('Unknown')

In [25]:
df["Academic Pressure"].isnull().sum()

75033

In [26]:
df["Academic Pressure"].isnull().mean() * 100

79.99253731343283

In [27]:
df_cleaned = df.dropna(subset=['Academic Pressure'])
print(f"Rows remaining: {len(df_cleaned)} out of {len(df)}")
print(df_cleaned['Academic Pressure'].describe())

Rows remaining: 18767 out of 93800
count    18767.000000
mean         3.158576
std          1.386666
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: Academic Pressure, dtype: float64

In [28]:
df["Academic Pressure"] = df["Academic Pressure"].fillna(df["Academic Pressure"].mean())

In [29]:
df["Work Pressure"]

0        2.0
1        2.0
2        4.0
3        NaN
4        5.0
        ...
93795    3.0
93796    5.0
93797    NaN
93798    4.0
93799    5.0
Name: Work Pressure, Length: 93800, dtype: float64

In [30]:
df["Work Pressure"] = df["Work Pressure"].fillna(df["Work Pressure"].mean())

In [31]:
numerical_df = df.select_dtypes(include=[np.number])

In [33]:
# correlation = numerical_df.corr()['Depression'].drop('Depression')  # Drop self-correlation
# print("Pearson Correlation with 'Depression':")
# print(correlation)

In [34]:
df["CGPA"] = df["CGPA"].fillna(df["CGPA"].mean())

In [35]:
df["CGPA"].isnull().sum()

0

In [36]:
df["Study Satisfaction"].isnull().sum()

75033

In [37]:
df["Job Satisfaction"].isnull().sum()

18774

In [38]:
df["Job Satisfaction"] = df["Job Satisfaction"].fillna(df["Job Satisfaction"].mean())

In [39]:
df["Study Satisfaction"] = df["Study Satisfaction"].fillna(df["Study Satisfaction"].mean())

In [44]:
df["Dietary Habits"].value_counts()

Dietary Habits
Moderate     33018
Unhealthy    30792
Healthy      29968
unknown         22
Name: count, dtype: int64

In [41]:
df["Dietary Habits"].unique()

array(['Moderate', 'Healthy', 'Unhealthy', 'More Healthy', 'No', 'Indoor',
       'Prachi', nan, 'Male', 'Less Healthy', 'Mealy', 'Resistant', 'MCA',
       '5 Healthy', 'Academic', 'Educational', 'Soham', '5 Unhealthy',
       'Vivaan', 'Raghav', '1.0', 'Naina', 'Kolkata'], dtype=object)

In [45]:
df['Dietary Habits'] = df['Dietary Habits'].replace('More Healthy', 'Healthy')
df['Dietary Habits'] = df['Dietary Habits'].replace('Less than Healthy', 'Moderate')
df['Dietary Habits'] = df['Dietary Habits'].replace('No Healthy', 'Unhealthy')
df['Dietary Habits'] = df['Dietary Habits'].replace('No', 'Unhealthy')
df['Dietary Habits'] = df['Dietary Habits'].replace('Yes', 'Healthy')

In [46]:
for item in df["Dietary Habits"].unique():
    if not (item =="Healthy" or item == "Moderate" or item == "Unhealthy"):
        df['Dietary Habits'] = df['Dietary Habits'].replace(item, 'unknown')

In [47]:
df["Degree"].value_counts()

Degree
Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
            ...
Bian           1
Kavya          1
M.M.Ed         1
Vrinda         1
BHCA           1
Name: count, Length: 87, dtype: int64

In [48]:
df["Degree"].unique()

array(['LLB', 'B.Ed', 'B.Arch', 'BSc', 'BCA', 'B.Com', 'MA', 'BA', 'BBA',
       'Class 12', 'MD', 'MBA', 'M.Ed', 'M.Pharm', 'BHM', 'LLM', 'PhD',
       'M.Com', 'BE', 'MBBS', 'B.Tech', 'ME', 'MCA', 'B.Pharm', 'MHM',
       'M.Tech', 'BTech', 'MSc', 'BArch', 'B. Gender', 'B.Study_Hours',
       'Advait', 'M.Arch', 'A.Ed', 'Mechanical Engineer', 'B.H', 'B.Sc',
       'B', 'M.UI', 'Vibha', 'B BCA', 'B.Press', 'BPharm', 'Gagan',
       'MPharm', 'Travel Consultant', '5.65', 'Business Analyst',
       'Eshita', 'B_Com', 'Navya', 'B._Pharm', 'Pune', 'Bian', 'B.M.Com',
       'Kavya', 'M.M.Ed', 'S.Pharm', 'Vrinda', 'M', 'E.Ed', '3.0',
       'Moham', 'B.BA', nan, 'I.Ed', 'Degree', 'Magan', 'B B.Tech',
       'M.B.Ed', 'Bhopal', 'B Financial Analyst', 'GCA', 'G.Ed', 'Rupak',
       'RCA', 'B.CA', 'PCA', 'J.Ed', 'BH', 'BEd', '8.95', 'Aadhya', '20',
       'Banchal', 'M.', 'K.Ed', 'BHCA'], dtype=object)

In [49]:
bachelor_degrees = ['BHM', "B B.Com",'Bachelor','BBA', 'BPA', 'BCA', 'BE', 'B.Ed', 'B.Com', 'BA', 'B.Tech', 'B.Arch', 'BSc', 'BEd', 'B.Sc', 'BArch', 'B BA', 'B.B.Arch', 'B.Student', 'B']
master_degrees = ['MCA', 'ME', 'MA', 'MBA', 'M.Com', 'MHM', 'M.Tech', 'M.Ed', 'MSc', 'MPA', 'M.Arch', 'MTech', 'MEd', 'M_Tech', 'M.S', 'M', 'M. Business Analyst']
law_degrees = ['LLB', 'LLM', 'LLBA', 'LLTech', 'LL.Com', 'LLCom', 'LL B.Ed', 'LLEd', 'LLS', 'Law']
pharmacy_degrees = ['B.Pharm', 'Doctor', 'M.Pharm', 'BPharm', 'MPharm', 'H_Pharm', 'P.Pharm', 'S.Pharm', 'N.Pharm']
medical_degrees = ['MBBS', 'MD']
school_level = ['Class 11', 'Class 12']
roles = ['UX/UI Designer','UX/UI Designer', 'Entrepreneur', 'Business Analyst', 'Business Analyst', 'HR Manager', 'Plumber', 'Business Analyst', 'Data Scientist', 'HR Manager', 'Entrepreneur', 'Working Professional', 'Doctor', 'Plumber', 'M. Business Analyst']
noise = ['20', '5.61', '5.56', '7.06', '8.56', '5.88', '24', '29', '0', 'CGPA', 'Degree', 'Nalini', 'Veda', 'Bhopal', 'Kalyan', 'Pihu', 'Aarav', 'Vrinda', 'Bhavesh', 'Brit', 'Ritik', 'Brithika', 'Jhanvi', 'Lata', 'Navya', 'Mahika', 'Mthanya', 'Esha', 'Mihir', 'Advait', 'Vivaan', 'Badhya', 'Unite', 'B.03', 'B.3.79', 'S.Tech', 'E.Tech', 'P.Com', 'L.Ed', 'K.Ed', 'LHM', 'S.Arch', 'Marsh', 'HCA', 'ACA', 'RCA', 'LCA', 'BB', 'BH', 'MPharm']

# Mapping dictionary
replace_dict = (
    {k: 'Bachelor' for k in bachelor_degrees} |
    {k: 'Master' for k in master_degrees} |
    {k: 'Law' for k in law_degrees} |
    {k: 'Pharmacy' for k in pharmacy_degrees} |
    {k: 'Medical' for k in medical_degrees} |
    {k: 'School' for k in school_level} |
    {k: 'roles' for k in roles} |  # Keep roles as-is
    {k: 'Other' for k in noise} |
    {np.nan: 'Unknown'}  # Handle nulls
)

# Apply replacements
df['Degree'] = df['Degree'].replace(replace_dict)

In [50]:
df['Financial Stress'] = df['Financial Stress'].fillna(df['Financial Stress'].mean())

In [51]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
dtype: int64

In [52]:
df.to_csv("processed_test.csv")